*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
fieldset{
    text-align:justify;
    padding: 15px;
    color: black;
}
fieldset a{
    color: black;
    text-decoration: none;
}
fieldset a:hover{
    color: blue;
    text-decoration: underline;
}
.login:hover{
background-color: lightgrey;
}
.main_login{
    height: 85vh;
    width: 100%;
    /* background-color:skyblue; */
    background-image: url(/images/main.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_login2{
    /* height: 20em; */
    width: 20em;
    background-color: white;
}
.main_login2 fieldset legend{
    text-align: center;
    font-size: xx-large;
    color: blue;
}
.main_login2 fieldset input{
    width: 20em;
    height: 2em;
    font-family: 'Times New Roman', Times, serif;
}
